/** 
    Created on : 10-Apr-2015, 14:52:01
    Author     : Edit
*/
// _logo.scss
// ============


/*================================= BFITP LOGO =================================*/


.logo-container {
    float: left;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
    padding: 0 10px;
    
    .logo {
	display:block;
	width:290px;
	height:70px;
	background:url(http://www.barefootinthepark.co.uk/sites/default/files/logo_with_text_290x70.png) no-repeat;
	text-decoration:none; 
	text-indent:-9999px; 
	margin: 5px 0;
	background-position: 0%; 
    }
}

#TopBanner .logo-container {
    margin: 1% 0 1% 10%;
}




@media screen and (max-width: 639px) {
    
    .logo-container {
	clear: both;
	width: 100%;
	height: auto;
	margin-top: 0;	
	margin-bottom: 0;
	padding: 0;
	
	.logo {
	    width: 100%;
	    background-position: 50%;
	    margin-top: 5px;	
	    background-size: 70%;
	}
    }
    
    .logo-container.fixedNavPage-logoContainer {
	float: left;
	clear: initial;
	width:80%;
	    
	.logo {
	    background-position: 0%;
	}
    }
}

@media screen and (max-width: 364px) {
    
    .logo-container.fixedNavPage-logoContainer {
	clear: both;
	width: 75%;
	
	.logo {
	    background-position: 0;
	    width: 82%;
	    background-size: 100%;
	    margin-top: 0;
	    margin-bottom: 0;
	    height: 4em;
	}
    }
}

@media screen and (min-width: 365px) and (max-width: 432px) {
    
    .logo-container {
	.logo {
	    background-size: 67%;
	    margin: 0;
	}
    }
}

@media screen and (min-width: 433px) and (max-width: 529px) {
    
    .logo-container {
	.logo {
	    background-size: 56%;
	    margin: 0;
	}
    }
}

@media screen and (min-width: 530px) and (max-width: 639px) {
    
    .logo-container {
	.logo {
	    background-size: 53%;
	    margin: 0;
	    height: 90px;
	}
    }
}